In [1]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_parquet('/content/drive/MyDrive/Elective_Groups/Capstone/Step_1_transactions_dataset_month.parquet')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63319315 entries, 0 to 63319314
Data columns (total 8 columns):
 #   Column         Dtype
---  ------         -----
 0   date_order     datetime64[ns]
 1   product_id     category
 2   client_id      category
 3   sales_net      float32
 4   quantity       int32
 5   order_channel  category
 6   branch_id      category
 7   month          object
dtypes: category(4), datetime64[ns](1), float32(1), int32(1), object(1)
memory usage: 2.1+ GB

In [4]:
df

,date_order,product_id,client_id,sales_net,quantity,order_channel,branch_id,month
0,2017-09-25,2376333,188502,155.443207,3,online,2732,2017-09
1,2017-09-25,2520527,835089,16.394400,3,at the store,10279,2017-09
2,2017-09-25,2536756,1977896,365.766235,21,online,6184,2017-09
3,2017-09-25,3028673,598816,8.598780,201,at the store,4200,2017-09
4,2017-09-25,203377,2086861,1093.374023,3,by phone,7051,2017-09
...,...,...,...,...,...,...,...,...
63319310,2019-06-10,1596284,245272,-2056.913086,5,by phone,7682,2019-06
63319311,2018-12-14,908253,880496,27.627600,1001,by phone,9375,2018-12
63319312,2019-07-26,1168247,2063314,-204.609833,101,by phone,3014,2019-07
63319313,2018-05-23,2319965,1287654,70.497299,17,by phone,1015,2018-05
63319314,2019-09-10,669067,1030337,-5.492400,3,at the store,9136,2019-09

In [5]:
dash = df.groupby('client_id').count().reset_index()[['client_id','date_order']]
dash

       client_id  date_order
0        1000078         155
1        1000352         561
2        1000380        4467
3        1000618        1685
4        1000680        2508
...          ...         ...
170584    701328           2
170585    742185           4
170586    751654           1
170587    878141           1
170588    923579          12

[170589 rows x 2 columns]

In [6]:
dash.date_order.describe()

count    170589.000000
mean        371.180527
std        1430.183791
min           1.000000
25%          12.000000
50%          50.000000
75%         214.000000
max      105636.000000
Name: date_order, dtype: float64

In [7]:
max_total_order_count = dash.quantile(0.95)
max_total_order_count

date_order    1586.6
Name: 0.95, dtype: float64

In [8]:
dash = dash.loc[dash['date_order'] < float(max_total_order_count)].loc[dash['date_order'] > 2]
dash

       client_id  date_order
0        1000078         155
1        1000352         561
6        1000798        1508
7        1001104         262
9        1001363         485
...          ...         ...
170574    144085           5
170575   1511299          12
170581    450600           6
170585    742185           4
170588    923579          12

[148725 rows x 2 columns]

In [9]:
df = df.loc[df.client_id.isin(dash.client_id)].reset_index(drop=True)
df

,date_order,product_id,client_id,sales_net,quantity,order_channel,branch_id,month
0,2017-09-25,2376333,188502,155.443207,3,online,2732,2017-09
1,2017-09-25,2536756,1977896,365.766235,21,online,6184,2017-09
2,2017-09-25,203377,2086861,1093.374023,3,by phone,7051,2017-09
3,2017-09-25,745693,482822,1.449000,5,by phone,2771,2017-09
4,2017-09-25,683924,224223,12.033600,3,at the store,9463,2017-09
...,...,...,...,...,...,...,...,...
26061256,2019-07-19,1331967,181771,-3722.991699,3,by phone,7993,2019-07
26061257,2019-07-19,1366829,294350,-0.441600,3,by phone,10964,2019-07
26061258,2018-12-14,908253,880496,27.627600,1001,by phone,9375,2018-12
26061259,2019-07-26,1168247,2063314,-204.609833,101,by phone,3014,2019-07
26061260,2018-05-23,2319965,1287654,70.497299,17,by phone,1015,2018-05

In [10]:
df.to_parquet('/content/drive/MyDrive/Elective_Groups/Capstone/Step_2_transactions_dataset_outlier_removal.parquet')